.ui-indicator{
    display: none;
}
.htmx-request .ui-indicator{
    display: inline;
    color: #007bff;  /* Blue color */
}
.htmx-request.ui-indicator{
    display: inline;
    color: #007bff;  /* Blue color */
}